

.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    grid-area: header-area;
    height: 140px;
    #logo-header-icon{
        margin: 0 auto
    }
    .badge {
        display: flex;
        gap: 10px;
        background-color: #363636;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        right: 0;
        position: absolute;
        .sun {
            color: #fffafa;
            border-radius: 50%;
            border: 1px solid #fffafa;
        }
        .moon {
            color: #fffafa;
            border-radius: 50%;
            border: 1px solid #fffafa;
        }
    }
}
[data-theme="dark"] .header .badge {
    .sun {
        color: #171717;
        border-radius: 50%;
        border: 1px solid #171717;
    }
    .moon {
        color: #171717;
        border-radius: 50%;
        border: 1px solid #171717;
    }
}